<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Selhosa.NouAplicatiu{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/selhosareparation/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/selhosareparation/css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block navbar %}
                <div class="navbar">
                    <div class="navbar-inner">
                        <a class="brand" href="{{ path('selhosa_reparation_homepage') }}">Selhosa.DOA</a>
                        <ul class="nav">
                            <li class="dropdown active">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Ordres de treball <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('selhosa_reparation_create') }}">Nova OT</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('selhosa_reparation_list', {statusKeyword : 'diagnose'}) }}">Mirar</a></li>
                                    <li><a href="{{ path('selhosa_reparation_list', {statusKeyword : 'orderMaterial'}) }}">Demanar material</a></li>
                                    <li><a href="{{ path('selhosa_reparation_list', {statusKeyword : 'receiveMaterial'}) }}">Rebre material</a></li>
                                    <li><a href="{{ path('selhosa_reparation_list', {statusKeyword : 'repair'}) }}">Reparar (Material rebut)</a></li>
                                    <li><a href="{{ path('selhosa_reparation_list', {statusKeyword : 'close'}) }}">Tancar (Finalitzades)</a></li>
                                </ul>
                            </li>
                        </ul>
                        {#
                        <form action="" class="navbar-search pull-left">
                            <input type="text" placeholder="Search" class="search-query span2">
                        </form>
                        #}
                    </div>
                </div>
            {% endblock navbar %}

            <div class="container-fluid">
            {% block container %}
            {% endblock container %}
            </div>


        {% endblock body %}
        {% block foot_script %}
            {# To only use a subset or add more js overwrite and copy paste this block
            To speed up page loads save a copy of jQuery in your project and override this block to include the correct path
            Otherwise the regeneration is done on every load in dev more with use_controller: true
             #}
            {% javascripts %}

            <script type="text/javascript" src="{{ asset('bundles/selhosareparation/js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/selhosareparation/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {% block extra_javascripts %}
            {% endblock extra_javascripts %}

        {% endblock foot_script %}
    </body>
</html>
