<form action="{{ path('selhosa_reparation_charge_material', { 'repairId': repairId }) }}" method="post">

    {{ form_label(form.materialCharges) }}
    {{ form_errors(form.materialCharges) }}

    <ul class="unstyled material-fields-list" id="material-fields-list" data-prototype="{{ form_widget(form.materialCharges.vars.prototype) | e }}">
        {% for materialCharge in form.materialCharges %}
            <li>
                {{ form_errors(materialCharge) }}
                {{ form_widget(materialCharge) }}
            </li>
        {% endfor %}
    </ul>

    {{ form_rest(form) }}

    <a class="btn add_material_charge" id="add_material_charge" data-repairid="{{ repairId }}" href="#">Afegir imputació<a/>
</form>